.custom-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.select-form{
    width: 50%;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    background-color: white;
    position: relative;
    z-index: 1;
}

.select-form option {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .select-form {
      font-size: 20px;
      padding: 15px;
      width: 50%;
    }
  
    .button-filter {
      font-size: 20px;
      padding: 10px;
      margin: 0 5px;
    }
  
    .select-form option {
      font-size: 10px;
      width: 50%;
    }
}